<div class="banner">
  <h1><%=@list.name%></h1>
</div>

<div class="grid">
  <div class="card-product">
    <% @bookmarks.each do |bookmark| %>
	    <div class="card-product-infos">
	      <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.movie.overview %> </p>
	      <p><%= link_to 'Delete a bookmark', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure you want to delete this bookmark?' }  %></p>
	  </div> 
    <% end %>
  </div>
</div>



<%= link_to "Create a bookmark", new_list_bookmark_path(@list.id), class: "btn btn-info m-3"  %>
<%= link_to 'Delete list', list_path(@list), method: :delete, class: 'btn btn-info m-3', data: { confirm: 'Are you sure you want to delete this list?' } %>