<div class="banner">
  <h1>Create a Movie bookmark</h1>
</div>
<div class="container col-12 col-md-8 col-lg-6 mt-3">
  <h3>Add a movie to <%= @list.name %> list </h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, placeholder: 'Enter your comment' %>
    <%= f.association :movie, prompt: 'Select movie', input_html: { class: 'select2' } %>
    <div class="container text-center">
      <%= f.submit class: 'btn btn-info m-3' %>
    </div>
  <% end %>
</div>
